<%- include("./partials/header"); -%>

<link rel="stylesheet" type="text/css" href="stylesheets/landing.css">

<header class="masthead">
</header>

<div class="container">
    <% if(!currentUser){%>
        <div class="jumbotron mt-4">
            <h1>Offer jobs</h1>
            <a href="#" class=" btn btn-primary btn-xs">Get Started</a>
        </div>
        <div class="jumbotron">
            <h1>Search jobs</h1>
            <a href="#" class=" btn btn-primary btn-xs">Let's Search</a>
        </div>
    <% } else if(currentUser.role === 'admin'){%>
        <div class="jumbotron mt-4">
            <h1>Offer jobs</h1>
            <a href="/provider/<%=currentUser._id%>" class=" btn btn-primary btn-xs">Get Started</a>
        </div>
        <div class="jumbotron">
            <h1>Search jobs</h1>
            <a href="/seeker/<%=currentUser._id%>" class=" btn btn-primary btn-xs">Let's Search</a>
        </div>
    <% } else if(currentUser.role === 'employer') { %>
        <div class="jumbotron mt-4">
            <h1>Offer jobs</h1>
            <a href="/provider/<%=currentUser._id%>" class=" btn btn-primary btn-xs">Get Started</a>
        </div>
    <% } else { %>
        <div class="jumbotron mt-4">
            <h1>Search jobs</h1>
            <a href="/seeker/<%=currentUser._id%>" class=" btn btn-primary btn-xs">Let's Search</a>
        </div>
    <% } %>
    <div class="jumbotron">
        <h1>Policies</h1>
        <a href="/policy/show" class=" btn btn-primary btn-xs">See Policies</a>
    </div>
    <div class="jumbotron">
        <h1>Blogs</h1>
        <a href="/blogs" class=" btn btn-primary btn-xs">Explore</a>
    </div>
</div>
<%- include("./partials/footer"); -%>