<%- include("../partials/header"); -%>

<script src="/jsFiles/cities.js"></script>

<div class="container">
    <form action="/offerPage/<%= user.id%>" method=POST>
        <div class="container" style="margin-top: 4rem">
            <p><strong>Offer Job as <%=user.firstName%> <%=user.lastName%> under <%=emp[0].companyName %></strong></p>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputTypeofJob">Type of Job</label>
                    <select required id="inputTypeofJob" class="form-control" name="ToJob">
                        <option value="" selected="selected" disabled="disabled">-- select one --</option>
                        <optgroup label="Healthcare Practitioners and Technical Occupations:">
                          <option value="Chiropractor">-  Chiropractor</option>
                          <option value="Dentist">-  Dentist</option>
                          <option value="Dietitian">-  Dietitian</option>
                          <option value="Physician">-  Physician</option>
                          <option value="Physician Assistan">-  Physician Assistant</option>
                          <option value="Therapist">-  Therapist</option>
                          <option value="Veterinarian">-  Veterinarian</option>
                          <option value="Technician">-  Technician</option>
                        </optgroup>
                        <optgroup label="Healthcare Support Occupations:">
                          <option value="Home Health Aide">-  Home Health Aide</option>
                        </optgroup>
                        <optgroup label="Business, Executive, Management, and Financial Occupations:">
                          <option value="Chief Executive">-  Chief Executive</option>
                          <option value="Operations Manager">-  General and Operations Manager</option>
                          <option value="Sales Manager">-  Sales Manager</option>
                          <option value="Engineering Manager">-  Engineering Manager</option>
                        </optgroup>
                        <optgroup label="Architecture and Engineering Occupations:">
                          <option value="Cartographer">-  Cartographer</option>
                          <option value="Engineer">-  Engineer</option>
                        </optgroup>
                        <optgroup label="Education, Training, and Library Occupations:">
                          <option value="Postsecondary Teacher">-  Postsecondary Teacher (e.g., College Professor)</option>
                          <option value="Primary Teacher">-  Primary Teacher</option>
                        </optgroup>
                        <optgroup label="Other Professional Occupations:">
                          <option value="Computer Specialist">-  Computer Specialist</option>
                          <option value="Social Worker">-  Social Worker</option>
                          <option value="Counselor">-  Counselor</option>
                          <option value="Lawyer">-  Lawyer</option>
                        </optgroup>
                        <optgroup label="Office and Administrative Support Occupations:">
                          <option value="Supervisor of Administrative Support Workers">-  Supervisor of Administrative Support Workers</option>
                          <option value="Financial Clerk">-  Financial Clerk</option>
                        </optgroup>
                        <optgroup label="Services Occupations:">
                          <option value="Chef">-  Chef</option>
                          <option value="Sales Representative">-  Sales Representative</option>
                        </optgroup>
                        <optgroup label="Agriculture, Maintenance, Repair, and Skilled Crafts Occupations:">
                          <option value="Construction and Extraction">-  Construction and Extraction (e.g., Construction Laborer, Electrician)</option>
                          <option value="Farming, Fishing, and Forestry">-  Farming, Fishing, and Forestry</option>
                          <option value="Installation, Maintenance, and Repair">-  Installation, Maintenance, and Repair</option>
                          <option value="Production Occupations">-  Production Occupations</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="vacancy">Vacancies</label>
                    <input required type="number" class="form-control" name="vacancy" id="inputvac" placeholder="Vacancies">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputqual">Qualificaiton Required <i class="fa fa-plus" aria-hidden="true"></i></label>
                    <select required id="inputqual" class="form-control" name="qual">
                        <option value="" selected="selected" disabled="disabled">-- select one --</option>
                        <option value="No formal education">No formal education</option>
                        <option value="Primary education">Primary education</option>
                        <option value="Secondary education">Secondary education or high school</option>
                        <option value="General Education Diploma">General Education Diploma</option>
                        <option value="Vocational qualification">Vocational qualification</option>
                        <option value="Bachelor's degree">Bachelor's degree</option>
                        <option value="Master's degree">Master's degree</option>
                        <option value="Doctorate or higher">Doctorate or higher</option>
                    </select>
                </div>
            </div>
            <div class="form row">
                <div class="form-group col-md-6">
                    <label for="inputstateofJob">State</label>
                    <select onchange="print_city('state', this.selectedIndex);" id="sts" class="form-control" name="state" required ></select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCityofJob">City</label>
                    <select id ="state" class="form-control" name="city" required ></select>
                    <script language="javascript">print_state("sts");</script>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputSalary">Salary Per Annum</label>
                    <input required type="text" class="form-control" name="salary" id="inputsal" placeholder="e.g. 10 lakh, 1 crore">
                </div>
                <div class="form-group col-md-6">
                    <lable for="inputlast">Last Date to Apply</lable>
                    <input required type="date" class="form-control" name="lastApply" id="inputDate">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="PhoneNumber">Phone Number</label>
                    <input required type="text" class="form-control" name="contact" placeholder="Contact Number">
                </div>
                <div class="form-group col-md-6">
                    <label for="mail">Mail</label>
                    <input required type="email" class="form-control" name="mail" placeholder="Owner@example.com">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputTitle">Title of the Job</label>
                    <input  required type="text" class="form-control" name="title" placeholder="Job Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAbout">Description of the Job</label>
                    <input required type="text" class="form-control" name="about" placeholder="Descrition (max 1 or 2 lines)">
                </div>
                <div class="form-group col-md-12">
                    <label>Information about the Job:</label>
                    <textarea required rows="6" class="form-control" type="text" name="description" placeholder="Write here....."></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success" style="margin:auto; display: block; width: 30%">Submit!</button>
    </form>
    <hr style="border: 0;border-bottom: 1px dashed #ccc; background: #999;">
    <a href="/" class="btn btn-xs btn-secondary mb-4" style=" margin-top: 2rem; float: right;">Go Back!</a>
</div>

<%- include("../partials/footer"); -%>