<%- include("../partials/header"); -%>

<div class="row" style="margin-top:6rem">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-9">
        <ul><h2>Personal Information</h2>
           <div><h5 style="margin-right:5px;display:inline">Name:</h5><p style="display:inline"><%=user.firstName + " " +user.lastName%></p></div>
           <div><h5 style="margin-right:5px;display:inline">userame:</h5><p style="display:inline"><%=user.username%></p></div>
           <div><h5 style="margin-right:5px;display:inline">Email:</h5><p style="display:inline"><%=user.email%></p></div>
           <!--<div><h5 style="margin-right:5px;display:inline">Phone Number</h5><p style="display:inline"></p></div>-->
           <div><h5 style="margin-right:5px;display:inline">State:</h5><p style="display:inline"><%=user.state%></p></div>
           <div><h5 style="margin-right:5px;display:inline">City:</h5><p style="display:inline"><%=user.city%></p></div>
           <div><h5 style="margin-right:5px;display:inline">Address:</h5><p style="display:inline"><%=user.address%></p></div>
        </ul>
        <ul><h2>Profession Details</h2>
            
        </ul>
        <ul><h2><%=user.username%>'s activity</h2>
            <ul><h4>Blogs written by <%=user.username%></h4></ul>
            <ul>
                <%blogs.forEach(function(blog){%>
                    <li><a href="/blogs/<%=blog.id%>"><%=blog.title%></a></li>
                 <% });%>
            </ul>
        </ul>
    </div>
</div>

<%- include("../partials/footer"); -%>