<%- include("../partials/header"); -%>

<div class="container">
    <div class="row" style="margin-top: 6rem;">
        <div class="col-md-12">
            <div id="header">
                <h3><%= policy.polHead%></h3>
                <h5><strong>For: </strong><%= policy.relTo%></h5>
                <span><em>Published on: <%= moment(policy.createdAt).format('LL')%></em></span>
            </div>
            <hr>
            <div class="container">
                <%= policy.polDesc%>
            </div>
            <div style="margin-left: 2rem;margin-top: 1rem;">
                <a href="/policy" class="btn btn-secondary btn-xs">Go Back</a>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer"); -%>