<%- include("../partials/header"); -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">

<div style="width:60%; margin:6rem auto 0">
    <h3><%= blog.title%></h3>
    <em><h5><%= blog.author.username%></h5></em>
    <span><em>Written <%= moment(blog.createdAt).fromNow()%></em></span>
    <hr class="style-two">
</div>
<div class="container">
    <%= blog.description%>
</div>

<%- include("../partials/footer"); -%>