<%- include("../partials/header"); -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/showBlog.css">

<div class="row">
    <div class="col-md-12">
        <div id="header">
            <h3><%= blog.title%></h3>
            <em><h5><a href="/user/<%=blog.author.id%>/userProfile"><%= blog.author.username%></a></h5></em>
            <span><em>Written <%= moment(blog.createdAt).fromNow()%></em></span>
            <hr class="style-two">
        </div>
        <div class="container">
            <%= blog.description%>
        </div>
        <a href="/blogs" class="btn btn-primary btn-xs">Go Back</a>
    </div>
</div>


<%- include("../partials/footer"); -%>